<div class="view" [appShowLoadingOverlay]="updatingUserPass.loadingChange() | async">
  <h1 i18n>Update Password</h1>
  <div class="update-user-pass-view">
    <form (submit)="updateUserPass()" class="example-form">
      <mat-form-field>
        <mat-label i18n>New Password</mat-label>
        <input matInput type="password" [formControl]="form.controls.newPassword">
        <mat-error *ngIf="form.controls.newPassword.errors && form.controls.newPassword.errors['required']" i18n>
          New password is required.
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-button type="button" (click)="close()" i18n>
          Cancel
        </button>
        <button mat-button color="primary" type="submit" [disabled]="!form.valid" i18n>
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
