<app-view [sideNav]="sideNav">
  <div>
    <ng-template #sideNav>
      <app-intel-in-creation-side-nav>
      </app-intel-in-creation-side-nav>
    </ng-template>
    <div *ngIf="intelCreationService.selectedOperation.getRawValue()">
      <div class="items" *ngIf="!intelCreationService.inIntelCreation">
        <div>
          <h2 i18n>Choose a context</h2>
          <mat-divider></mat-divider>
        </div>
        <div>
          <h2 i18n>Intel Generators</h2>
          <mat-divider></mat-divider>
        </div>
        <div class="container-b">
          <button mat-raised-button class="button-large" i18n
                  (click)="intelCreationService.inIntelCreation = true"
          >
            Empty Intel
          </button>
        </div>
      </div>
      <app-create-intel-stepper *ngIf="intelCreationService.inIntelCreation">
      </app-create-intel-stepper>
    </div>
  </div>
</app-view>
