<div class="action-bar">
  <button (click)="newChannel()" [disabled]="disableCreate || loading" mat-flat-button color="primary" type="button">
    <mat-icon>add</mat-icon>
    <span i18n>New Channel</span>
  </button>
</div>
<table [appShowLoadingOverlay]="loading" [dataSource]="channelsDataSource" aria-label="Channel list" mat-table>

  <ng-container matColumnDef="label">
    <th *matHeaderCellDef i18n mat-header-cell>Label</th>
    <td *matCellDef="let row" mat-cell>{{ asChannel(row).label }}</td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th *matHeaderCellDef i18n mat-header-cell>Active</th>
    <td *matCellDef="let row" mat-cell>
      <div *ngIf="asChannel(row).isActive" class="active-indicator active-indicator--active"></div>
      <div *ngIf="!asChannel(row).isActive" class="active-indicator active-indicator--inactive"></div>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th *matHeaderCellDef i18n mat-header-cell>Type</th>
    <td *matCellDef="let row" mat-cell>
      <app-channel-type-inline [channelType]="asChannel(row).type"></app-channel-type-inline>
    </td>
  </ng-container>

  <ng-container matColumnDef="info">
    <th *matHeaderCellDef i18n mat-header-cell>Info</th>
    <td *matCellDef="let row" [ngSwitch]="asChannel(row).type" mat-cell>
      <ng-container *ngSwitchCase="ChannelType.Email">{{ getChannelDetailsText(row) }}</ng-container>
      <ng-container *ngSwitchCase="ChannelType.Phone">{{ getChannelDetailsText(row) }}</ng-container>
      <ng-container *ngSwitchCase="ChannelType.Radio">{{ getChannelDetailsText(row) }}</ng-container>
      <ng-container *ngSwitchDefault>?</ng-container>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columnsToDisplay" [ngClass]="{clickable: !disabled}"
    (click)="!disabled && openChannel(asChannel(row))" mat-row></tr>

</table>