@import 'src/styles/view';

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: whitesmoke;
    cursor: pointer;
}

#action-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

mat-form-field {
    width: 18em;
}