@import 'src/styles/corporate';

.c {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $bg;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 64px !important;
  min-height: 64px !important;
  max-height: 64px !important;
}

mat-toolbar{
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.logo {
  font-size: .2rem;
}

.spacer {
  flex: 1 1 auto;
}

.menu-item {
  margin: .5rem;
  padding: .05rem .5rem;
  border-radius: 4px;

  display: flex;
  align-items: center;

  &.selectable {
    color: $dark-disabled-text;
    cursor: pointer;

    &:hover {
      color: $dark-secondary-text;
    }

    &.active {
      color: lighten($dark-primary-text, 10%);
      background-color: lighten($dark-disabled-text, 80%);
    }
  }
}

.profile {
  margin-left: 2rem;
}

.outlet {
  flex: 1;
  height: calc(100% - 64px);
}
