@font-face {
  font-family: "Brutel";
  src: local("Brutel Black"), url(../assets/fonts/Brutel-Black.otf) format("truetype");
  font-weight: 1000;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel Bold"), url(../assets/fonts/Brutel-Bold.otf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel ExtraBold"), url(../assets/fonts/Brutel-ExtraBold.otf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel ExtraLight"), url(../assets/fonts/Brutel-ExtraLight.otf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel Light"), url(../assets/fonts/Brutel-Light.otf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel Medium"), url(../assets/fonts/Brutel-Medium.otf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel Regular"), url(../assets/fonts/Brutel-Regular.otf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel SemiBold"), url(../assets/fonts/Brutel-SemiBold.otf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Brutel";
  src: local("Brutel Thin"), url(../assets/fonts/Brutel-Thin.otf) format("truetype");
  font-weight: 100;
}
