form .form-column {
  display: flex;
  flex-direction: column;
}

form .form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.app-edit-input-large {
  width: 33rem;
}

.app-edit-input-larger {
  width: 27rem;
}

.app-edit-input {
  width: 19rem;
}

.app-edit-input-small {
  width: 16rem;
}

.app-edit-input-smaller {
  width: 12rem;
}

.app-edit-input-tinier {
  width: 150px;
}

.app-edit-input-tiny {
  width: 115px;
}
