mat-form-field.app-edit-input {
  width: 19rem;
}

mat-form-field.app-edit-input-small {
  width: 16rem;
}

mat-form-field.app-edit-input-tinier {
  width: 150px;
}

mat-form-field.app-edit-input-tiny {
  width: 115px;
}
