@import 'src/styles/corporate';

._loading-overlay-backdrop {
  pointer-events: none;
  animation: _loading-overlay-backdrop-fade-in 300ms .4s forwards;
}

@keyframes _loading-overlay-backdrop-fade-in {
  from {
    backdrop-filter: brightness(1)
  }
  to {
    backdrop-filter: brightness(0.95);
  }
}

._loading-dots-backdrop {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

.action-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.mat-mdc-dialog-actions app-delete-confirm-button {
  // To replicate behavior with native mat-mdc-buttons.
  margin-left: 8px;
}
