<h1 mat-dialog-title>
    <div class="header">
        <span i18n>Message {{ data.messageId }}</span>
        <app-importance-inline [importance]="data.priority"></app-importance-inline>
    </div>
</h1>
<div mat-dialog-content>
    <div class="context">
        <div class="left-row">
            <p i18n> Created: {{ data.createdAt | date:'medium' }} </p>
            <p i18n> Sender: {{ data.senderLabel }} </p>
        </div>
        <div i18n class="right-row">
            <p> Recipient: {{ data.recipientLabel }} </p>
            <p> Incident: {{ data.incidentLabel }} </p>
        </div>
    </div>
    <div class="content">{{data.content}}</div>

    <div class="channel-selection">
        <p class="select-channel-heading" i18n>Outgoing channel</p>
        <table mat-table [dataSource]="selectableChannels">

            <!-- Label Column -->
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef i18n> Label </th>
                <td mat-cell *matCellDef="let channel"> {{ channel.label }} </td>
            </ng-container>

            <!-- Channel Type Column -->
            <ng-container matColumnDef="channelType">
                <th mat-header-cell *matHeaderCellDef i18n> Channel </th>
                <td mat-cell *matCellDef="let channel"> <app-channel-type-inline [channelType]="channel.type"></app-channel-type-inline> </td>
            </ng-container>

            <!-- Channel info Column -->
            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef i18n> Info </th>
                <td *matCellDef="let channel" [ngSwitch]="channel.type" mat-cell>
                    <ng-container *ngSwitchCase="ChannelType.Email">{{ getChannelDetailsText(channel)}}</ng-container>
                    <ng-container *ngSwitchCase="ChannelType.Phone">{{ getChannelDetailsText(channel)}}</ng-container>
                    <ng-container *ngSwitchCase="ChannelType.Radio">{{ getChannelDetailsText(channel)}}</ng-container>
                    <ng-container *ngSwitchDefault>?</ng-container>
                  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="channelColumns"></tr>
            <tr mat-row *matRowDef="let channel; columns: channelColumns;" (click)="channelSelected(channel)" 
                [ngClass]="{'selected-channel-row': selectedChannel && selectedChannel.id === channel.id}">
            </tr>
        </table>
        <p *ngIf="showMissingChannelError" class="select-channel-error-label" i18n>*Select a channel for the message</p>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close i18n>Cancel</button>
        <button type="submit" mat-button (click)="submitClicked()" i18n>Submit</button>
    </div>
</div>