<div class="view" >
  <h2 i18n>Intel in Creation</h2>
  <div class="view" *ngFor="let createIntel of intelCreationService.intelInCreation">
    <p *ngIf="createIntel.type === IntelType.PlainTextMessage" i18n>
      Plain Text Message
    </p>
    <p *ngIf="createIntel.type === IntelType.AnalogRadioMessage" i18n>
      Analog Radio Message
    </p>
    <p class="text-content" *ngIf="createIntel.type === IntelType.PlainTextMessage">
      {{createIntel.content.text}}
    </p>
    <p class="text-content" *ngIf="createIntel.type === IntelType.AnalogRadioMessage">
      {{createIntel.content.content}}
    </p>
    <div class="text-content">
      <app-importance-inline [importance]="createIntel.importance"></app-importance-inline>
    </div>
    <p i18n>
      To:
      <span *ngFor="let addressBookEntryId of createIntel.initialDeliverTo">
        {{intelCreationService.getLoadedAddressBookEntryById(addressBookEntryId) ? intelCreationService.getLoadedAddressBookEntryById(addressBookEntryId)!.label : ''}}
      </span>
    </p>
    <mat-divider></mat-divider>
  </div>
  <div class="confirm" >
    <button mat-button *ngIf="intelCreationService.intelInCreation.length > 0" (click)="openConfirmDialog()" i18n>Confirm</button>
  </div>
</div>

