<script src="../../mailbox/mailbox-layout/mailbox-layout.component.ts"></script>
<app-view [sideNav]="sideNav">
  <ng-template #sideNav>
    <app-side-nav-title i18n>Management</app-side-nav-title>
    <app-side-nav-item
      *ngIf="isViewUsersGranted() | async"
      [link]="['/manage', 'users']"
      i18n
      icon="person">Users
    </app-side-nav-item>
    <app-side-nav-item
      *ngIf="isViewGroupsGranted() | async"
      [link]="['/manage', 'groups']"
      i18n
      icon="group">Groups
    </app-side-nav-item>
    <app-side-nav-item
      *ngIf="isViewOperationsGranted() | async"
      [link]="['/manage', 'operations']"
      i18n
      icon="calendar_month">Operations
    </app-side-nav-item>
  </ng-template>
  <router-outlet></router-outlet>
</app-view>
