
  <mat-drawer-container class="drawer-container">
    <mat-drawer opened mode="side" *ngIf="sideNav" class="side-nav">
      <ng-container *ngTemplateOutlet="sideNav"></ng-container>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <ng-content></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>

  <table class="key-info-bar">
    <tr class="info">
      <td>Read Changes</td>
      <td>Read Changes</td>
      <td>Read Changes Changes</td>
      <td>Read Changes</td>
      <td>Read Changes</td>
      <td>Read Changes</td>
      <td>Read Changes</td>
      <td>Read Changes Changes</td>
      <td>Read Changes</td>
      <td>Read Changes</td>
      <td>Read Changes</td>
      <td>Read Changes Changes</td>
    </tr>
    <tr class="key">
      <td>F1</td>
      <td>F2</td>
      <td>F3</td>
      <td>F4</td>
      <td>F5</td>
      <td>F6</td>
      <td>F7</td>
      <td>F8</td>
      <td>F9</td>
      <td>F10</td>
      <td>F11</td>
      <td>F12</td>
    </tr>
  </table>
