<h1 i18n>Roles</h1>

<app-heading-hint i18n>Create, manage and edit roles.</app-heading-hint>

<!--Actions.-->
<app-list-action-bar>
  <button (click)="createGroup()" *ngIf="isCreateGranted() | async" i18n mat-button>Create Role</button>
</app-list-action-bar>
<!--Table.-->
<app-paginated-list #list (page)="page($event)" [data]="loadedGroupTableData">
  <table (matSortChange)="sortChange($event)" [appShowLoadingOverlay]="retrieving.loadingChange() | async"
         [dataSource]="list.dataSource"
         aria-label="Role list"
         mat-table
         matSort>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef i18n mat-header-cell mat-sort-header="byTitle">Title</th>
      <td *matCellDef="let row" mat-cell>{{ asGroupTableContent(row).group.title }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef i18n mat-header-cell mat-sort-header="byDescription">Description</th>
      <td *matCellDef="let row" mat-cell>{{ asGroupTableContent(row).group.description }}</td>
    </ng-container>

    <ng-container matColumnDef="operation">
      <th *matHeaderCellDef i18n mat-header-cell>Operation</th>
      <td *matCellDef="let row" mat-cell
          [appShowLoadingDots]="retrieving.loadingChange() | async">{{getOperationTitleFromGroupTableContent(asGroupTableContent(row))}}</td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr (click)="navigateToGroup(asGroupTableContent(row).group.id)" *matRowDef="let row; columns: columnsToDisplay"
        class="clickable" mat-row></tr>

  </table>
</app-paginated-list>
