@import 'src/styles/corporate';

.tool-bar{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: auto;
  max-height: 7.5%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.key-box {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 8.3%;
  width: 100%;
  max-height: 7-5% !important;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.key-desc {
  font-size: small;
  font-weight: bold;
}

.key-content {
  font-size: small;
}
.divider{
  height: auto;
}

