@import 'src/styles/view';
@import 'src/styles/forms';

#action-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: whitesmoke;
    cursor: pointer;
}
