<div class=view>
  <h1 i18n>Address Book Entries</h1>

  <app-heading-hint i18n>Create, manage and edit address book entries.</app-heading-hint>

  <!--Actions.-->
  <div id="action-bar">
    <mat-form-field class="app-edit-input">
      <mat-label i18n>Search</mat-label>
      <input matInput (keyup)="applySearchFilter($event, list.dataSource)" #input>
    </mat-form-field>

    <button mat-flat-button extended color="primary" (click)="createAddressBookEntry()">
      <mat-icon>add</mat-icon>
      <span i18n>Create Entry</span>
    </button>
  </div>
  <!--Table.-->
  <app-paginated-list #list (page)="page($event)" [data]="addressBookEntryRows"
    [appShowLoadingOverlay]="retrieving.loadingChange() | async">
    <table (matSortChange)="sortChange($event)" [dataSource]="list.dataSource" aria-label="Address book entry list"
      mat-table matSort>

      <ng-container matColumnDef="label">
        <th *matHeaderCellDef i18n mat-header-cell mat-sort-header="byLabel">Label</th>
        <td *matCellDef="let row" mat-cell>{{ asAddressBookEntryRow(row).entry.label }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef i18n mat-header-cell mat-sort-header="byDescription">Description</th>
        <td *matCellDef="let row" mat-cell>{{ asAddressBookEntryRow(row).entry.description }}</td>
      </ng-container>

      <ng-container matColumnDef="operation">
        <th *matHeaderCellDef i18n mat-header-cell>Operation</th>
        <td *matCellDef="let row" mat-cell [appShowLoadingDots]="retrievingOperation.loadingChange() | async">
          <span *ngIf="asAddressBookEntryRow(row).operation; let operation">
            {{ operation.title }}
          </span>
          <span *ngIf="!asAddressBookEntryRow(row).operation;" i18n>
            All
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th *matHeaderCellDef i18n mat-header-cell>User</th>
        <td *matCellDef="let row" mat-cell>{{ formatRowUser(asAddressBookEntryRow(row)) }}</td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
      <tr (click)="navigateToAddressBookEntry(asAddressBookEntryRow(row).entry.id)"
        *matRowDef="let row; columns: columnsToDisplay" class="clickable" mat-row></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6" i18n>No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </app-paginated-list>

</div>