@import 'src/styles/view';

mat-accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

mat-accordion .mat-action-row {
    justify-content: flex-start;
    align-items: center;
}

mat-list-item:hover {
    background-color: whitesmoke;
}

.icon-class {
    margin-left: auto;
}