<div class=view [appShowLoadingOverlay]="loader.loadingChange() | async">
    <h1 i18n>Operation table</h1>
    <app-heading-hint i18n>View and manage active incidents.</app-heading-hint>

    <app-list-action-bar>
        <button mat-flat-button extended color="primary" [routerLink]="['/incidents/create']">
            <mat-icon>add</mat-icon>
            <span i18n>Create Entry</span>
        </button>
    </app-list-action-bar>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>

            <mat-action-row>
                <button mat-flat-button color="primary" extended>
                    <mat-icon>add</mat-icon>
                    <span i18n>Add</span></button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header disabled>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>RTW 111</span>
                    <span matListItemLine>2 - Angekommen</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Paprika</span>
                    <span matListItemLine>Produced by dried and ground red peppers</span>

                    <button mat-icon-button matListItemMeta>
                        <mat-icon class="material-icons-outlined mat-24">close</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>

            <mat-action-row>
                <button mat-flat-button color="primary" extended>
                    <mat-icon>add</mat-icon>
                    <span i18n>Add</span></button>
            </mat-action-row>
        </mat-expansion-panel>


    </mat-accordion>
</div>