@import 'src/styles/corporate';

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
}

.short {
  color: $dark-primary-text;
  font-family: "Brutel", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.long {
  color: $dark-primary-text;
  font-family: "Brutel", sans-serif;
  font-size: 0.25em;
  font-weight: 200;
}
