<app-view [sideNav]="sideNav">
  <ng-template #sideNav>
    <app-side-nav-title *ngIf="((isViewAddressBookEntriesGranted()) | async) || ((isManageIntelDeliveryGranted()) | async)" i18n>
      Logistics
    </app-side-nav-title>
    <app-side-nav-item
      *ngIf="(isViewAddressBookEntriesGranted()) | async"
      [link]="['/logistics', 'address-book']"
      i18n
      icon="import_contacts">
      Address Book Entries
    </app-side-nav-item>
    <app-side-nav-item
      *ngIf="(isManageIntelDeliveryGranted()) | async"
      [link]="['/intel-delivery']"
      i18n
      icon="directions">
      Intel Delivery
      <mat-icon class="icon-suffix-small">open_in_new</mat-icon>
    </app-side-nav-item>
    <app-side-nav-item
      *ngIf="(isDeliverRadioIntelGranted()) | async"
      [link]="['/logistics', 'radio-delivery']"
      i18n
      icon="directions">
      Radio Delivery
    </app-side-nav-item>
  </ng-template>
  <router-outlet></router-outlet>
</app-view>
